.map{
  text-align: center;
  font-size: 14px;
  color: gray;
  background-color: #fff;
}

.category{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.allCountry{
  background-color: #6C63FF;
  color: #fff;
  font-size: 14px;
}
