.covid {
  text-align: center;
  font-size: 14px;
  color: gray;
  background-color: #fff;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5px;
}

.foreign {
  background-color: #6c63ff;
  color: #fff;
  font-size: 14px;
}

.list {
  display: flex;
  flex-flow: column || nowrap;
  margin: 5px 0;
}
