.category {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  margin: 5px 20px;
}

.category p {
  margin-bottom: 5px;
}
.addCount {
  font-size: xx-small;
}
.tip {
  color: gray;
  font-size: xx-small;
}
